
.container{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #A4B4C3;
    font-style: normal;
    line-height: 1.75;
}
.header{
    height: 94px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}
li{
    list-style: none;
}
.header-menu{
    margin-left: 60px;
    display: flex;
    flex-grow: 1;
}
.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   
}
.navigation li{
    margin-right: 40px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.header-action ul{
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #FFFFFF;
}
.header-action .btn{
    padding: 16px 35px;
    background: #00C4F4;
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    text-decoration: none;
}
.lang-sect{
    margin-right: 35px;
}
.btn-li{
    margin-left: 35px;
}
.section-img::before{
    content: "";
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg");
    position: absolute;
    left: 0;
    bottom: -40px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 722px;
    z-index: -1;
}
.section-img{
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_bg02.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-intro{
    text-align: center;
    padding: 0px 15px;
    width: 100%;
    margin: 0px 15px;
    position: relative;
}
.title-sect{
    margin-bottom: 50px;
    font-size: 55px;
    color: #FFFFFF;
}
.banner-social ul li{
    margin-bottom: 25px;
    border: 1px solid #F3F3F3;
    border-radius: 50px;
    width: 42px;
    display: flex;
    align-items: center;
}
.banner-social ul li i{
    font-size: 15px;
    color: #081A39;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}
.banner-social {
    display: inline-block;
    position: absolute;
    bottom: 150px;
    left: 40px;
}
.section-countdown{
    text-align: center;
}
.section-countdown .title{
    color: #030B15;
    letter-spacing: -0.01em;
    font-size: 26px;
    margin-bottom: 35px;
    line-height: 1.88;
}
.about-area{
    padding: 130px 15px;;
    margin: 0 14rem;
    display: flex;
    justify-content: center;
}
.about-img{
    width: 50%;
    padding: 0 15px;
}
.about-img img{
    float: right;
}
.content-about{
    width: 50%;
    padding: 0 15px;
}
.content-about .sub-title{
    color: #564DCA;
    letter-spacing: 0.02em;
    padding: 0;
    text-decoration: underline;
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 700;
}
.title-about{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    margin: 0;
}
.content-about p{
    color: #727885;
    margin-bottom: 20px;
    width: 80%;
}
ul{
    margin: 0px;
    padding: 0px;
}
.content-about ul li i{
    color: #564DCA;
    margin-right: 10px;
    font-weight: 900;
} 
.content-about ul li{
    color: #030B15;
    margin-bottom: 10px;
}
.content-about ul{
    margin-bottom: 45px;
}
.content-about a{
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1;
    background: #564DCA;
    border-radius: 5px;
    padding: 25px 42px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 6px 22px rgba(6, 34, 51, 0.22);
}