body{
    margin: 0;
}
.container{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #A4B4C3;
    font-style: normal;
    line-height: 1.75;
}
.header{
    padding: 30px 15px;
    height: 94px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    top: 0;
    left: 0;
    z-index: 4;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.header-menu{
    margin-left: 60px;
    display: flex;
    flex-grow: 1;
}
.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   
}
.contact-us{
    margin-right: 0;
}
.navigation li{
    margin-right: 65px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.header-action ul{
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #FFFFFF;
}
.header-action .btn{
    padding: 16px 35px;
    background: #00C4F4;
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    text-decoration: none;
}
.lang-sect{
    margin-right: 35px;
}
.btn-li{
    margin-left: 35px;
}
.header-bars{
    margin-left: 30px;
    font-weight: 900;
    font-size: 30px;
    display: none;
}

.banner-img::before{ 
    content: "";
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg");
    position: absolute;
    left: 0;
    bottom: -40px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 722px;
    z-index: -1;
}
.banner-img{
    padding-top: 225px;
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_bg02.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 164px);
    z-index: -1;
}
.banner-content{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 90px;
}
.section-intro{
    text-align: center;
    width: 100%;
    margin: 0;
}
.title-sect{
    max-width: 1100px;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 55px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.banner-social ul li{
    margin-bottom: 25px;
    border: 1px solid #F3F3F3;
    border-radius: 50px;
    width: 42px;
    display: flex;
    align-items: center;
}
.banner-social ul li i{
    font-size: 15px;
    color: #081A39;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}
.banner-social {
    display: inline-block;
    position: absolute;
    left: 100px;
    bottom: 90px;
}
.section-countdown{
    text-align: center;
    max-width: 1200px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    padding: 55px 50px 60px;
    margin: auto;
}
.countdown{
    display: flex;
    justify-content: space-around;
    
}
.countdown .item{
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid;
}
.section-countdown .title{
    color: #030B15;
    letter-spacing: -0.01em;
    font-size: 26px;
    margin-bottom: 35px;
    line-height: 1.88;
    margin-top: 0;
}
.mg-14{
    margin: 0 14rem;
}
.about-area{
    padding: 130px 15px;;
    margin: 0 14rem;
    display: flex;
    justify-content: center;
}
.about-img{
    width: 50%;
    padding: 0 15px;
}
.about-img img{
    float: right;
}
.content-about{
    width: 50%;
    padding: 0 15px;
}
.content-about .sub-title{
    color: #564DCA;
    letter-spacing: 0.02em;
    padding: 0;
    text-decoration: underline;
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 700;
}
.title-about{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    margin: 0;
}
.content-about p{
    color: #727885;
    margin-bottom: 20px;
    width: 80%;
}
ul{
    margin: 0px;
    padding: 0px;
}
.content-about ul li i{
    color: #564DCA;
    margin-right: 10px;
    font-weight: 900;
} 
.content-about ul li{
    color: #030B15;
    margin-bottom: 10px;
}
.content-about ul{
    margin-bottom: 45px;
}
.content-about a{
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1;
    background: #564DCA;
    border-radius: 5px;
    padding: 25px 42px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 6px 22px rgba(6, 34, 51, 0.22);
}
.shape-area{
    position: relative;
    bottom: 150px;
    display: flex;
    justify-content: space-between;
}
.shape-two{
    position: relative;
    bottom: 60px;
    left: 60px;
}
.choose-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image:url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_shape01.png");
    width: 100%;
    height: 25px
}
.choose-area{
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_bg.jpg");
    background-size: cover;
    position: relative;
    padding-top: 130px;
    padding-bottom: 218px;
}
.choose-area::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_shape02.png");
    width: 100%;
    height: 19px;
}
.header-choose{
   text-align: center;
   line-height: 1.75;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.header-choose .sub-title{
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.09em;
    display: inline-block;
    margin-bottom: 25px;
}
.sub-deco{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #00C4F4;
    border-radius: 50%;
}
.header-choose .title{
    font-size: 42px;
    color: #fff;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
    width: 50%;
}
.choose-items{
    display: flex;
    justify-content: space-between;
}
.choose-items .item{
    padding: 0 15px;
}
.choose-icon{
    margin-bottom: 35px;
}
.choose-content{
    width: 77%;
    box-sizing: border-box;
}
.choose-content .title {
    font-size: 22px;
    margin-bottom: 24px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.27;
}
.choose-content .title a{
    text-decoration: none;
    color: #ffff;
   
}
.choose-content p{
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 22px;
    color: #A4B4C3;
}
.counter-section{
    padding: 64px 75px 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    position: relative;
    top: -120px
}
.counter-content{
    display: inline-block;
}
.counter-item img{
    margin-right: 30px;
}
.counter-content h2{
    color: #030B15;
    letter-spacing: -0.02em;
    font-size: 48px;
    line-height: 0.85;
    margin-bottom: 8px;
    margin-top: 0;
}
.counter-content p{
    margin-bottom: 0;
    color: #646580;
    line-height: 1.6;
}
.header-strategy .sub-title{
    color: #564DCA;
    letter-spacing: 0.02em;
    padding: 0;
    text-decoration: underline;
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-strategy{
    text-align: center;
}
.header-strategy .title{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    text-transform: capitalize;
    font-weight: 600;
}

.roadmaps::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 8px;
    background: linear-gradient(294.72deg, #FF4581 9.05%, #4388DD 79.28%);
    opacity: 0.1;
}
.roadmaps{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}
.roadmap-item{
    width: 25%;
    margin-left: 60px;
}
.roadmap-title{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
    letter-spacing: 0.1em;
}
.roadmap-content{
    margin-left: 57px;
    padding-left: 17px;
    padding-top: 75px;
    position: relative;
}
.roadmap-content .title{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #030B15;
    line-height: 1.62;
    text-transform: capitalize;
}
.roadmap-content p{
    color: #727885;
}
.dot::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0.1;
}
.dot{
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.child-1{
    background: #00C4F4;
}
.border-1{
    border-left: 1px solid  #00C4F4;;
}
.child-1::before{
    background: #00C4F4;
}
.child-2{
    background: #FF9700;
}
.child-2::before{
    background: #FF9700;
}
.border-2{
    border-left: 1px solid #FF9700;
}
.child-3{
    background: #007FF4;
}
.child-3::before{
    background: #007FF4;
}
.border-3{
    border-left: 1px solid #007FF4;
}
.child-4{
    background: #FF4581;
}
.child-4::before{
    background: #FF4581;
}
.border-4{
    border-left: 1px solid #FF4581;
}
.item-1{
    color: #00C4F4;
}
.item-2{
    color: #FF9700;
}
.item-3{
    color:#007FF4;
}
.item-4{
    color: #FF4581;
}
.ml-0{
    margin-left: 0;
}
.team-items{
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.item .thumbnail {
    filter: grayscale(100%);
}
.item .thumbnail:hover{
    filter: none;
}
.team-items .item{
    width: 25%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
.header-team{
    width: 100%;
}
.team-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-social li{
    padding: 0 10px;
    
}
.team-social li a{
    color: #fff;
    font-size: 13px;
}
.team-social li a:hover{
    color: #00C4F4;
}

.download-area{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
.download-content, .download-img{
    padding-left: 15px;
    padding-right: 15px;
}
.download-img{
    width: 58.33333333%;
    text-align: center;
}
.download-content{
    width: 41.66666667%;;
}
.download-content h2{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    text-transform: capitalize;
    margin: 0;
}
.download-content p{
    color: #727885;
    margin-bottom: 30px;
}
.download-content span{
    color: #564DCA;
    letter-spacing: 0.02em;
    padding: 0;
    text-decoration: underline;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.download-content img{
    margin-right: 20px;
}
.question-area{
    padding: 120px 15px 130px;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}
.question-item{
    background: #fff;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.question-area .title{
    font-size: 45px;
    color: #030B15;
    line-height: 1.26;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.answer{
    display: none;
    padding: 0 40px 45px 55px;
}
.answer p{
    margin-bottom: 0;
    color: #727885;
    font-size: 18px;
    line-height: 1.55;
}
.question-item h2{
    margin: 0;
}
.question-item button{
    width: 100%;
    background-color: #fff;
    border: none;
    text-align: left;
    color: #212529;
    padding: 37px 100px 37px 55px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    border-radius: 100px;
}
.question-item{
    border-radius: 100px;
}

.question-item button:hover{
    border-radius: 0;
    cursor: pointer;
}
.question-item button i{
    float: right;
    position: relative;
    left: 40px;
}
.question-item:hover{
    border-radius: 0;
    border-bottom: 4px solid #00C4F4;
    cursor: pointer;
}
.question-item:hover .answer{
    display: block;
}
.contact{
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/contact_bg02.jpg");
    background-size: cover;
    background-position: center;
    padding: 130px 0 250px;
    position: relative;
    
}
.contact::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/contact_shape01.png");
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 29px;
}
.contact::after{
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/contact_shape02.png");
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 18px;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
}
.contact-area{
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.contact-info, .contact-form{
    width: 50%;
    box-sizing: border-box;
    padding: 0 15px;
}
.contact-item .content{
    display: inline-block;
}
.contact-info .contact-item{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(246, 246, 246, 0.06);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    box-sizing: border-box;
    padding: 22px 32px;
    width: 69%;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-info .title{
    font-size: 50px;
    margin-bottom: 35px;
    letter-spacing: -0.03em;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
}
.contact-item img{
    margin-right: 22px;
}
.contact-item p{
    margin: 0;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 146.49%;
    color: #FFFFFF;
}
.contact-form .title{
    font-size: 30px;
    text-transform: none;
    letter-spacing: -0.03em;
    line-height: 2;
    margin-bottom: 35px;
    margin-top: 0;
    color: #fff;
}
.contact-form input, textarea{
    width: 100%;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(246, 246, 246, 0.06);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    letter-spacing: -0.02em;
    color: #030B15;
    font-weight: 400;
    font-size: 20px;
    padding: 17px 22px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.contact-form input:focus, textarea:focus{
    background: #fff;
    border-color: #fff;
}
.contact-form textarea{
    min-height: 165px;
    max-height: 165px;
}
.contact-form button{
    padding: 25px 42px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    background: #00C4F4;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1;
}
.subscribe-area{
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: auto;
}
.new-letters{
    display: flex;
    box-sizing: border-box;
    box-shadow: 0px 26px 23px rgba(81, 98, 132, 0.06);
    border-radius: 10px;
    padding: 64px 50px;
    margin-top: -120px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.new-letters .title{
    box-sizing: border-box;
    width: 42.5%;
}
.new-letters .email-subscribe{
    width: 57.5%;
    position: relative;
}
.new-letters .title h2{
    color: #030B15;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 0;
    letter-spacing: -1px;
    margin-top: 0;
}
.email-subscribe input{
    width: 100%;
    border: 1px solid #ECEEF3;
    border-radius: 4px;
    background: #F3F6FC;
    font-size: 16px;
    font-weight: 400;
    color: #030B15;
    box-sizing: border-box;
    padding: 26px 25px 26px 25px;
    line-height: 1.25;
}
.email-subscribe button{
    position: absolute;
    right: 12px;
    top: 8px;
    bottom: 8px;
    padding: 25px 42px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    background: #564DCA;;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1;
}
.footer-top{
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    padding: 70px 55px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-navigation ul{
    display: flex;
}
.footer-navigation ul li{
    margin-right: 60px;
}
.footer-navigation ul li a{
    color: #030B15;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    
}
.footer-socials ul {
    display: flex;
}
.footer-socials ul li a{
    color: #0A142F;
    opacity: .3;
    font-size: 24px;
    line-height: 1;
}
.footer-socials ul li{
    margin-right: 40px;
}
.footer-bottom{
    max-width: 1200px;
    box-sizing: border-box;
    border-top: 1px solid #F0F3F9;
    padding: 40px 55px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #0A142F;
}
.copyright p{
    color: #282F3B;
    margin-bottom: 0;
    vertical-align: middle;
    margin-top: 0;
}
.scroll-top button{
    margin-top: -60px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #564DCA;
    border: none;
    color: #fff;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    margin-bottom: 15px;
}
.scroll-top p{
    margin: 0;
}
.term-privacy ul{
    display: flex;
}
.term-privacy li a{
    font-size: 15px;
    color: #0A142F;
    text-decoration: none;
}
.term-privacy ul li:first-child{
    margin-right: 30px;
}
@media only screen and (max-width: 1500px){
    .logo img{
        padding-top: 8px;
        max-height: 15px;
    }
    .header{
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
    }
    .header-menu{
        flex-grow: 0;
        margin-left: 100px;
    }
    .navigation li{
        margin-right: 40px;
        padding: 40px 0;
    }
    .banner-img{
        padding-top: 180px;
        height: calc(100% - 120px); 
    }
    .banner-img::before{
        height: 580px;
    }
    .banner-content{
        padding-top: 70px;
    }
    .banner-content img{
        max-width: 700px;
    }
    .about-area{
        margin: auto;
    }
    .title-about{
        font-size: 40px;
    }
    .choose-items{
        margin: auto;
        max-width: 1200px;
    }
    .choose-items .item{
        width: 25%;
    }
    .header-choose{
        margin: auto;
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .counter{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}
@media only screen and (max-width: 1200px){
    .lang-sect{
        display: none;
    }
    .header{
        justify-content: space-between;
    }
    .header-menu{
        margin-left: 60px;
    }
    .btn-li{
        margin-left: 15px;
    }
    .banner-content .title-sect{
        font-size: 45px;
        max-width: 960px;
    }
    .banner-img{
        height: calc(100% - 90px);
        padding-top: 0px;
    }
    .banner-img::before{
        height: 380px;
        width: 100%;
    }
    .banner-content img{
        max-width: 600px;
    }
    .banner-social{
        display: none;
    }
    .title-about{
        font-size: 36px;
    }
    .choose-items{
        max-width: 960px;
    }
    .header-choose{
        max-width: 960px;
    }
    .counter{
        max-width: 960px;
    }
    .counter-content h2{
        font-size: 40px;
    }
}
@media only screen and (max-width: 1050px){
    .header-menu{
        display: none;
    }
    .header{
        max-width: 720px;
        margin: auto;
    }
    .header-bars{
        display: inline-block;
    }
    .eng-dash{
        display: none;
    }
    .banner-content .title-sect{
        font-size: 55px;
        line-height: 1.2;
        max-width: 720px;
        margin: auto;
        padding: 0 15px;
    }
    .about-area{
        max-width: 720px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .about-img{
        width: 100%;
        text-align: center;
    }
    .content-about{
        margin-top: 50px;
        width: 100%;
    }
    .content-about p{
        width: 90%;
    }
    .about-img img{
        float: none;
    }
    .title-about{
        font-size: 40px;
    }
    .header-choose{
        max-width: 720px;
    }
    .header-choose .title{
        width: 100%;
    }
    .choose-items{
        max-width: 720px;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
    }
    .choose-items .item{
        width: 50%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 60px;
    }
    .item .choose-content{
        width: 100%;
    }
    .counter{
        max-width: 720px;
    }
    .counter-section{
        padding: 50px 45px 20px;
        justify-content: center;
    }
    .counter-item{
        width: 50%;
    }
    
    .strategy-section{
        max-width: 720px;
        margin: auto;
    }
    .roadmaps{
        display: grid;
        margin-bottom: 0px;
        gap: 40px 30px;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        margin-bottom: 40px;
    }
    .roadmap-title{
        margin-bottom: 10px;
    }
    .roadmaps::before{
        background: #fff;
    }
    .roadmap-item{
        margin-left: 0;
        width: 100%;
    }
    .roadmap-content p br{
        display: none;
    }
    .roadmap-content{
        padding: 0;
        margin: 0;
        border:none;
    }
    .dot{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .btn-li{
        display: none;
    }
    .header{
        max-width: 540px;
    }
    .banner-img{
        height: calc(100% - 95px);
    }
    .banner-img::before{
        height: 260px;
    }
    .banner-content .title-sect{
        font-size: 40px;
        max-width: 540px;
        padding-bottom: 50px;
    }
    .banner-content{
        padding-left:  15px;
        padding-right: 15px;
        max-width: 540px;
        margin: auto;
    }
    .banner-content img{
        max-width: 100%;
        vertical-align: middle;
    }
    .about-area{
        max-width: 540px;
    }
    .header-choose{
        box-sizing: border-box;
        max-width: 540px;
        padding: 0 15px;
    }
    .choose-items{
        max-width: 540px;
    }
    .counter{
        max-width: 540px;
    }
    .counter-section{
        padding: 50px 30px 20px;
    }
    .choose-items .item{
        text-align: center;
    }
    .choose-content{
        width: 100%;
    }
    .header-choose .title{
        font-size: 36px;
        font-weight: 600;
        padding: 0 15px
    }
    .counter-content h2{
        font-size: 34px;
    }
    .counter-section{
        padding: 50px 30px 20px;
    }
    .counter-section .counter-item{
        width: 50%;
        box-sizing: border-box;
    }
    .counter-item img{
        margin-right: 20px;
    }
}
@media only screen and (max-width: 510px) {
    .banner-content .title-sect{
        font-size: 32px;
    }
    .banner-content{
        box-sizing: border-box;
        padding-top: 50px;
    }
    .banner-img::before{
        height: 210px;
        background-position: bottom;
    }
    .banner-img{
        height: calc(100% - 120px);
    }
    .title-about{
        font-size: 36px;
    }
    .about-area{
        padding-left: 0;
        padding-right: 0;
    }
}